#header {
    height: 70px;
    width: 1800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #F3F3F4;
}

input::placeholder {
    position: absolute;
    left: 30px;
    top: 12px;
}

#content {
    height: 2130px;
    width: 1365px;
    background-color: white;
    margin-left: 250px;
    margin-top: 30px;
}

#footer {
    height: 300px;
    width: 1800px;
    margin-top: 10px;
    border-bottom: 1px solid #F3F3F4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content_choose_item {
    width: 340px;
    height: 35px;
    background-color: #F3F4F6;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 17px;
    margin-top: 13px;
}

#content_bottom_right_side {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 40px;
    border: 1px solid #F5F5F5;
    padding: 40px 22px 40px;
    padding-right: 30px;
}

#buy_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 339.98px;
    height: 45px;
    border-radius: 5px;
    background-color: #00BDD6;
    color: white;
    font-size: 18px;
}

#add_to_cart {
    margin-top: 20px;
    width: 339.98px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #00BDD6;
    font-size: 18px;
    color: #00BDD6;
}

#content_reviews {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 1396px;
    justify-content: space-between;
}

#each_review {
    display: flex;
    flex-direction: column;
    width: 620px;
}

#spaceOfAvartarAndName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ortherProduct {
    margin-top: 70px;
}

#moreDetail {
    font-size: 18px;
    color: #8E949F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 110px;
}

#imageProduct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    height: 400px;
}

#imageProductSize {
    width: 320px;
    height: 320px;
}

#imageProductBorder {
    border: 1px solid #F1F1F1;
}

#productLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

#productPrice {
    color: #00BDD6;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

#productRate {
    padding-left: 10px;
    padding-right: -30px;
    margin-top: 10px;
    font-size: 16px;
    width: 258px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}