#tag-a {
        color: #797E87;
        text-decoration: none;
        font-weight: 500;
}

input::placeholder {
        color: #E8EAED;
        font-size: 15px;
}

button {
        background-color: #FFFFFF;
        border: none;
}

#image_bottom {
        display: flex;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 55px;
        margin-top: 4px;
        color: #323842;
}

.image_bottom_menu {
        margin-top: -300px;
        margin-left: 128px;
        display: flex;
        width: 450px;
}

#sort_by_option {
        padding-top: 63px;
        padding-left: 128px;
        height: 50px;
        width: 1335px;
}

#allProduct-btn {
        background-color: #459D7A;
        color: white;
        border-radius: 5px;
        width: 150px;
        height: 50px;
}

#sortBy-btn {
        width: 100px;
        font-size: 17px;
        background-color: #F2F3F7;
        height: 39px;
        width: 110px;
        border-radius: 5px;
}

#product_list {
        margin-top: 63px;
        padding-left: 128px;
        width: 1350px;
}

#productStatusBestSeller {
        height: 30px;
        width: 90px;
        position: absolute;
        background-color: #FFC970;
        color: #956518;
        border-radius: 15px;
        font-size: 14px;
        margin-top: 14px;
        margin-left: 172px;
}

#productStatusNew {
        height: 30px;
        width: 45px;
        position: absolute;
        background-color: #FFC970;
        color: #956518;
        border-radius: 15px;
        font-size: 14px;
        margin-top: 14px;
        margin-left: 214px;
}

#product_list_label {
        width: 148px;
        font-size: 23px;
        font-weight: bold;
        color: #3A3C40;
        text-decoration: none;
        margin-left: -10px;
        margin-top: 10px;
}

#product_list_description {
        color: #34373B;
        width: 238px;
        text-decoration: none;
        margin-left: -10px;
}

#pruduct_current_price {
        font-weight: bold;
        font-size: 30px;
}

#pruduct_old_price {
        font-size: 17px;
        color: #B7BAC1;
        font-weight: 400;
        margin-top: 4px;
        margin-left: 12px;
}


#page_number {
        color: #9398A2;
}

#buttonListBottom {
        background-color: #1D2128;
        color: white;
        margin-top: 20px;
}

#changeLanguage {
        background-color: #1D2128;
        color: white;
        width: 140px;
        height: 40px;
        padding-left: 10px;
        border: 1px solid white;
        border-radius: 5px;
}

#inputEmail {
        background-image: url(../HinhAnh/Icon/MailBox.jpg);
        background-repeat: no-repeat;
        background-color: #1D2128;
        padding-left: 55px;
        background-position: 17px 14px;
        border: 1px solid white;
        color: white;
        height: 50px;
        width: 285px;
        padding-top: -10px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-right: none;
}

#Subscribe-btn {
        margin-top: 1px;
        height: 51px;
        width: 100px;
        background-color: #459D7A;
        color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
}

#policies {
        background-color: #1D2128;
        color: white;
        font-size: 13px;
}