#tuVan {
        color: blue;
        font-size: 28px;
        width: 350px;
        background-color: #EDF1F0;
        padding-bottom: 20px;
}

#menuTextColor {
        color: #92A5B6;
        font-size: 15px;
}

#listInfo {
        font-weight: bold;
        font-size: 13px;
        margin-top: 10px;
        width: 900px;
}